.navMenu-container {
    z-index: 10;
    position: absolute;
    left: 10%;
}

@media screen and (max-width:768px) {
    .navMenu-container {
        display: none;
    } 
}

.navMenu__links-fram {
    text-align: center;
    padding-top: 10px;
}

.navMenu-link {
    text-decoration: none;
}

.navMenu-link-active {
    text-decoration: none;
    font-weight: bold;
}

.logo {
    font-size: larger;
    font-weight: bolder;
    color: blue;
}


.navMenu-mobile-container-hidden {
    display: none;
}

.navMenu-mobile-container-visible {
    display: block;
    text-align: center;
}


.menu-close-button {
    background-color: rgb(182, 71, 57);
    color: white;
    border: none;
}

.menu-open-button {
    display: none;
    
}

@media screen and (max-width:768px) {
    .menu-open-button {
        display: block;
        z-index: 1000;
        position: absolute;
        right: 15px;
        top: 12px;
        background-color: transparent;
        border: none;
        color: blue;
        font-weight: bold;
    } 
}

.menu-open-button-hidden {
    display: none;
}