.footer-fram {
    padding: 10px;
    z-index: 1000;
    position: absolute;
    width: 100%;
}

.footer-fram h4 {
    font-weight: bolder;
    color: rgb(39, 81, 219)
}

.footer-fram h5 {
    color: rgb(39, 81, 219)
}


.footer-fram p {
    color: gray;
}